[Unit]
Description=FTP Service
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
KillMode=none
Environment=GOMAXPROCS=2

ExecStart=/usr/bin/curlftpfs {{ secrets.FTP_SERVER_HOST }} {{ ftp_mount_directory_path }} \
  -o user={{ secrets.FTP_SERVER_USERPASS }},allow_other,ssl,no_verify_peer \
  -r \
  -f \
  --verbose

StandardOutput=file:{{ rclone_log_file_path }}
ExecStop=/bin/fusermount -uz {{ rclone_mount_directory_path }}
Restart=on-failure

[Install]
WantedBy=default.target
