[Unit]
Description=UnRAR Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple

ExecStart=/usr/bin/rar2fs {{ ftp_mount_directory_path }} {{ ftp_rar_mount_directory_path }} -o allow_other

StandardOutput=file:{{ unrar_log_file_path }}
Restart=on-failure

[Install]
WantedBy=default.target
